* {
    margin: 0;
    padding: 0;
}

main {
    background-color: black;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 6.5rem;
    margin-bottom: 50px;
}

.main_div {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    color: red;
}

#num {
    font-family: "Digital Numbers";
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 6.5rem;
}

button {
    background: red;
    color: white;
    border-radius: 25px;
    margin: 72px 20px;
    font-size: 20px;
    padding: 11px 35px;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: white;
    color: black;
}